* {
    font-family: "Roboto",sans-serif;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


header {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.logo img {
    height: 80px;
}
.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links li {
    margin: 0 20px;

}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    transition: 300ms;
}
.nav-links a:hover {
    color: #FF8000;
}
.burger {
    display: none;
}
@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        background-color: #fff;
        height: 100vh;
        top: 0;
        right: 0;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(200px);
        transform: 300ms;
        z-index: 999;
    }
    .nav-links ul {
        flex-direction: column;
    }
    .nav-links li {
        margin: 10px 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .line1, .line2, .line3 {
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 5px;
        transition: 500ms;
    }
    .nav-active {
        transform: translateX(0);
    }
    .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    .line2 {
        opacity: 0;
    }
    .line3 {
        transform: rotate(45deg) translate(-8px, 8px);
    }
}



form {
    margin-top: 300px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    padding: 30px;
    margin: 50px auto;
    margin-top: 150px;
}

label {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

input {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

button {
    background-color: #FF8000;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    width: 100%;

}


button:hover {
   background-color: #b35d08;
}


p {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
}

#sucess-message {
color: #FF8000;
font-weight: 700;
display: none;
}


footer {
    margin-top: 100px;
    background-color: #000000;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-column {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
  }

  .footer-column h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .footer-column p {
    font-size: 1em;
    line-height: 1.5;
  }

  .footer-logo {
    max-width: 150px;
    margin-bottom: 10px;
  }

  .social-media-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
  }

  .social-media-icons a {
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s ease;
    text-decoration: none;
  }

  .social-media-icons a:hover {
    color: #1e90ff;
  }

  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    border-top: 1px solid #444;
    padding-top: 20px;
    color: #bbb;
  }

  .footer-bottom i {
    margin-left: 5px;
  }